* text=auto

.gitattributes text eol=lf
.gitignore text eol=lf
*.sh text eol=lf
*.cmd text eol=lf
*.config text eol=lf
*.conf text eol=lf
*.list text eol=lf
*.md text eol=lf
Makefile text eol=lf
*.mk text eol=lf
*.dts text eol=lf
*.dtsi text eol=lf
*.patch text eol=lf
patches/openwrt/0001-tb-rk3399prod-board-support.patch whitespace=-blank-at-eol
rootfs/etc/init.d/* text eol=lf
rootfs/etc/uci-defaults/* text eol=lf
rootfs/etc/hotplug.d/*/* text eol=lf
rootfs/usr/sbin/* text eol=lf
